
body{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    background-image: repeating-linear-gradient(-45deg, #ffadc4, #ffadc4 50px, #cc8a9c 50px, #cc8a9c 100px);
    background-size: 200% 800%;
    background-position: 0% 0%;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    100%{background-position: 100% 0;}
}

.shpee{
    text-align: center;
    transform: skew(-7deg) translateX(0%);
    background-color: #aaf3ff;
    height: auto;
    padding: 10px;
    padding-right: 30px;
    margin: 1%;
    margin-left: -10%;
    box-shadow: 7px 7px#91c7cb;
    color:  #76aab2;
    text-shadow: 2px 2px #76aab2;
    animation: intro 1s ; 
    transition: 0.3s;
}
@keyframes intro {
    0%{transform: skew(-30deg) translateX(-90%);}
}

.catboy{
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    margin: 0 auto;
    animation: catboy 0.7s;
    height: 85%;
    transition: 0.3s;
    z-index: 1;
}
.catboy:hover{
    height: 87%;
}
@keyframes catboy {
    0%{transform: translate(-50%, 100%);}
}
