
body{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffadc4;
    font-size:x-large;
}
.shpee{
    text-align: center;
    transform: skew(-30deg) translateX(-90%);
    background-color: #aaf3ff;
    height: auto;
    padding: 10px;
    padding-right: 30px;
    animation: intro 0.5s;   
    transition: 0.5s;
    margin: 3%;
    margin-left: -10%;
    box-shadow: 7px 7px #91c7cb;
    
}
.shpee:hover{
    transform: translateX(0%);
}

.catboy{
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    margin: 0 auto;
    animation: catboy 0.7s;
    height: 90%;
    transition: 0.5s;
    z-index: -1;
}
.catboy:hover{
    height: 92%;
}

@keyframes catboy {
    0%{transform: translate(-50%, 100%);}
}
